# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/
*.egg-info/

# Secrets - JAMAIS commit ça
.env

# Data - trop lourd pour Git
data/raw/
data/processed/
*.pdf

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Qdrant
qdrant_storage/